p{
    margin: 0;
}
h4.title{
    margin: 0;
    padding:0;
    font-size: 14px;
    color: #31a9ff;
    line-height: 27px;
}
.vegetal h4.title{
    color: #11c483;
}
html, body{
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.container{
    padding: 0 10px 30px;
    direction: rtl !important;
    color: #172b5d;
    font-family: IRANSans;
    font-size: 13px;
    line-height:25px;
    text-align: justify;
    height: 100%;
    overflow-y: auto;
}
.text.direction-ltr{
    direction: ltr !important;
}
.row.linear .text{
    padding-right: 10px;
    overflow: hidden;
}
.section{
    border-bottom: 1px solid #d9eaf2;
    padding: 15px 0;
}
.section:last-child{
    border-bottom: none;
}
.row h4 i{
    width: 22px;
    height: 22px;
    float: right;
    margin-left: 3px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 50%;*/
}
.section.iconic-field .text{
     padding-right: 10px;
    margin-top: 5px;
 }
.row h4 i.icon-product{
    background: url("html-icons/product.png") no-repeat center;
    background-size: 12px;
}
.row h4 i.icon-kids{
    background: url("html-icons/kids.svg") no-repeat center;
    background-size: 12px;
}
.row h4 i.icon-seniors{
    background: url("html-icons/seniors.svg") no-repeat center;
    background-size: 10px;
}
.row h4 i.icon-pharmacy{
    background: url("html-icons/pharmacy.png") no-repeat center;
    background-size: 12px;
}
.row h4 i.icon-usage{
    background: url("html-icons/usage.svg") no-repeat center;
    background-size: 11px;
}
.row h4 i.icon-prohibition{
    background: url("html-icons/prohibition.png") no-repeat center;
    background-size: 15px;
}
.row h4 i.icon-caution{
    background: url("html-icons/caution.png") no-repeat center;
    background-size: 15px;
}
.row h4 i.icon-dose-adjustment{
    background: url("html-icons/dose-adjustment.svg") no-repeat center;
    background-size: 12px;
}
.row h4 i.icon-complication{
    background: url("html-icons/complication.png") no-repeat center;
    background-size: 12px;
}
.row h4 i.icon-interference{
    background: url("html-icons/interference.png") no-repeat center;
    background-size: 15px;
}
.row h4 i.icon-effect{
    background: url("html-icons/effect.svg") no-repeat center;
    background-size: 10px;
}
.row h4 i.icon-overdose{
    background: url("html-icons/overdose.png") no-repeat center;
    background-size: 12px;
}
.row h4 i.icon-description{
    background: url("html-icons/description.svg") no-repeat center;
    background-size: 12px;
}
.row h4 i.icon-relation-with-food{
    background: url("html-icons/relation-with-food.png") no-repeat center;
    background-size: 15px;
}
.row h4 i.icon-brand{
    background: url("html-icons/brand.svg") no-repeat center;
    background-size: 15px;
}
.row h4 i.icon-lactation{
    background: url("html-icons/lactation.svg") no-repeat center;
    background-size: 10px;
}
.table-responsive{
    min-height: .01%;
    overflow-x: auto;
    margin-bottom:15px;
    padding-bottom:1px;
}
.text table{
    border:none;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    height: auto !important;
}
.text table tr td{
    padding: 5px 0;
    /*border-bottom: 2px solid #f0f0f0;*/
    min-width: 100px;
    font-size:13px;
}
.text table tr td p{
    margin: 0;
}
.text table tr:first-of-type td{
    background: #D9D9D9;
    color: #72B1F6;
    font-weight: bold;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.text table tr:last-of-type td{
    border-bottom: none;
}
.text table tr:nth-child(2n){
    background: #D9E2F3;
}
sub, sup{
    font-size: 10px;
}
ul{
    margin-right: -10px;
}
.pregnancy-modal-trigger{
    display: inline-block;
    background: url("html-icons/pregnancy-modal-trigger.svg") no-repeat center;
    background-size: 18px;
    width: 18px;
    height:18px;
    margin-right: 10px;
    vertical-align: middle;
}
.pregnancy-group{
    color: #2012c0;
    font-weight: bold;
    font-size: 14px;
}
.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 5px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .13);
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}